.calendar {
    display: grid;
    grid-template-rows: auto auto;
    width: 200px;
}

.calendar label {
    font-size: 14px;
    text-align: center;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.calendarHeader {
    display: grid;
    grid-template-columns: 40px auto 40px;
}

.calendarHeader > button {
    grid-row-end: 1;
    border: 0;
    background: transparent;
    cursor: pointer;
    margin: 4px;
}

button:focus {outline:0;}

.calendarHeader > button:hover {
    border-radius: 20px;
    background: #e9e9e9;
}

.calendarHeader > label {
    grid-row-end: 1;
    padding: 9px 0;
}


.calendarCalendar {
    display: grid;
    grid-template-rows: auto auto;
    grid-row: 2;
}

.DayHeaders {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    padding-top: 5px ;
    padding-bottom: 5px ;
}

.weekList {
    display: grid;
    grid-template-rows: repeat(6, 30px);
}

.calendarWeek {
    display: grid;
    grid-template-columns: repeat(7, 30px);
}

.calendarDay {
    background: #fff;
    border-radius: 20px;
    padding: 5px 7px;
    margin: 1px;
    cursor: pointer;
}

.calendarDay:hover {
    filter: brightness(90%);
    transition-property: filter;
    transition-duration: 500ms;
}

.calendarDayOutside {
    color: #7a7a7a;
}
.calendarDayNow {
    background: #3c4755;
    color: #fff;
}
.calendarDaySelected {
    background: #fdd700;
    color: #000;
}


